/*
© Iman Fayek
*/

.version.about /* version checker */
{
	color: #0000F7;
	background-color: #BEFC6B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2262px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

#pu5729
{
	width: 0.01px;
	padding-bottom: 2678px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: -73px;
}

#u5729
{
	z-index: 7;
	width: 140px;
	position: fixed;
	top: 18px;
	right: 9px;
}

#u5749
{
	z-index: 9;
	width: 97px;
	position: fixed;
	top: 186px;
	right: 61px;
}

#u5752
{
	z-index: 11;
	width: 140px;
	position: fixed;
	top: 266px;
	right: -24px;
}

#u5755
{
	z-index: 13;
	width: 140px;
	position: fixed;
	bottom: -20px;
	right: -20px;
}

#u5758
{
	z-index: 15;
	width: 105px;
	position: fixed;
	bottom: 58px;
	right: 97px;
}

#u5764
{
	z-index: 17;
	width: 123px;
	position: fixed;
	bottom: 124px;
	right: 0px;
}

#u5761
{
	z-index: 19;
	width: 70px;
	position: fixed;
	top: 517px;
	right: -40px;
}

#u5767
{
	z-index: 21;
	width: 93px;
	position: fixed;
	bottom: 14px;
	right: 208px;
}

#u5770
{
	z-index: 23;
	width: 72px;
	position: fixed;
	bottom: -10px;
	right: 136px;
}

#u5773
{
	z-index: 25;
	width: 55px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: 14px;
}

#u5776
{
	z-index: 27;
	width: 94px;
	position: fixed;
	bottom: 221px;
	right: -47px;
}

#u5779
{
	z-index: 29;
	width: 87px;
	position: fixed;
	bottom: 2px;
	left: 50%;
	margin-left: 122px;
}

#u5782
{
	z-index: 31;
	width: 140px;
	position: fixed;
	bottom: -20px;
	left: 50%;
	margin-left: 209px;
}

#u5785
{
	z-index: 33;
	width: 94px;
	position: fixed;
	top: 433px;
	right: 115px;
}

#u5788
{
	z-index: 35;
	width: 59px;
	position: fixed;
	bottom: 148px;
	right: 202px;
}

#u5870
{
	z-index: 37;
	width: 55px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: 525px;
}

#u5873
{
	z-index: 39;
	width: 78px;
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: 377px;
}

#u1101
{
	z-index: 62;
	width: 62px;
	height: 62px;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	position: fixed;
	bottom: 138px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1101:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1101.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u174
{
	z-index: 141;
	width: 151px;
	height: 151px;
	position: fixed;
	bottom: 431px;
	left: 67px;
}

#u175-4
{
	z-index: 142;
	width: 281px;
	min-height: 27px;
	position: fixed;
	bottom: 364px;
	left: 68px;
}

#u591-4
{
	z-index: 146;
	width: 281px;
	min-height: 22px;
	position: fixed;
	bottom: 332px;
	left: 68px;
}

#menuu205
{
	z-index: 150;
	width: 281px;
	position: fixed;
	bottom: 26px;
	left: 68px;
}

#u8550
{
	width: 281px;
	position: relative;
}

#u8553
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8555-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553:hover #u8555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553.MuseMenuActive,#u228:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553.MuseMenuActive #u8555-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 281px;
	margin-top: 2px;
	position: relative;
}

#u254
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u10392
{
	z-index: 175;
	width: 28px;
	position: fixed;
	bottom: 290px;
	left: 164px;
}

#u10402
{
	z-index: 177;
	width: 37px;
	position: fixed;
	bottom: 290px;
	left: 111px;
}

#u10412
{
	z-index: 179;
	width: 27px;
	position: fixed;
	bottom: 290px;
	left: 68px;
}

#u10422
{
	z-index: 181;
	width: 46px;
	position: fixed;
	bottom: 290px;
	left: 208px;
}

#u6139
{
	z-index: 183;
	width: 40px;
	position: fixed;
	bottom: 383px;
	left: 27px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 487px;
}

#u10672
{
	z-index: 41;
	width: 693px;
	position: relative;
	margin-right: -10000px;
	padding: 150px 58px 85.12248737341952px 199px;
	background: transparent url("../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u922-4
{
	z-index: 42;
	width: 546px;
	min-height: 130px;
	background-color: transparent;
	line-height: 85px;
	font-size: 100px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u3096-4
{
	z-index: 63;
	width: 692px;
	min-height: 78px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 1px;
	margin-top: 856px;
	position: relative;
}

#u1036-4
{
	z-index: 58;
	width: 640px;
	min-height: 38px;
	background-color: transparent;
	line-height: 67px;
	font-size: 48px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#pu12118-11
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -3px;
}

#u12118-11
{
	z-index: 130;
	width: 346px;
	min-height: 78px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10825-9
{
	z-index: 73;
	width: 346px;
	min-height: 311px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u10828-4
{
	z-index: 82;
	width: 640px;
	min-height: 38px;
	background-color: transparent;
	line-height: 67px;
	font-size: 48px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#pu12115-13
{
	width: 0.01px;
	margin-top: -3px;
}

#u12115-13
{
	z-index: 117;
	width: 321px;
	min-height: 78px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10829-11
{
	z-index: 86;
	width: 346px;
	min-height: 225px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u10840-4
{
	z-index: 97;
	width: 640px;
	min-height: 52px;
	background-color: transparent;
	line-height: 67px;
	font-size: 48px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 1px;
	margin-top: 35px;
	position: relative;
}

#pu10841-9
{
	width: 0.01px;
	margin-top: -4px;
}

#u10841-9
{
	z-index: 101;
	width: 181px;
	min-height: 78px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u12112-7
{
	z-index: 110;
	width: 249px;
	min-height: 78px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#pu1105-8
{
	width: 0.01px;
	margin-top: 40px;
}

#u1105-8
{
	z-index: 46;
	width: 460px;
	min-height: 86px;
	background-color: transparent;
	line-height: 48px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u1106-4
{
	z-index: 54;
	width: 385px;
	min-height: 38px;
	background-color: transparent;
	line-height: 67px;
	font-size: 48px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10719
{
	z-index: 67;
	width: 296px;
	height: 525px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9744,0.225,-0.225,0.9744,64,-28);
	-ms-transform: matrix(0.9744,0.225,-0.225,0.9744,64,-28);
	transform: matrix(0.9744,0.225,-0.225,0.9744,64,-28);
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 670px;
	background: #F4F4F4 url("../images/snapchat-961954948657557882.jpg") no-repeat center center;
	background-size: contain;
}

#u10738
{
	z-index: 68;
	width: 405px;
	height: 327px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-3,4);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-3,4);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,-3,4);
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 305px;
	background: #F4F4F4 url("../images/unnamed.jpg") no-repeat center center;
	background-size: cover;
}

#u1062
{
	z-index: 69;
	width: 495px;
	height: 217px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9744,0.225,-0.225,0.9744,32,-54);
	-ms-transform: matrix(0.9744,0.225,-0.225,0.9744,32,-54);
	transform: matrix(0.9744,0.225,-0.225,0.9744,32,-54);
	position: relative;
	margin-right: -10000px;
	margin-top: 625px;
	left: 320px;
	background: #F4F4F4 url("../images/snapchat-37815170972364814772.jpg") no-repeat center center;
	background-size: cover;
}

#u10700
{
	z-index: 70;
	width: 259px;
	height: 460px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9744,-0.225,0.225,0.9744,-49,36);
	-ms-transform: matrix(0.9744,-0.225,0.225,0.9744,-49,36);
	transform: matrix(0.9744,-0.225,0.225,0.9744,-49,36);
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 67px;
	background: #F4F4F4 url("../images/1400104493197.jpg") no-repeat center center;
	background-size: contain;
}

#u10800
{
	z-index: 71;
	width: 784px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 902px;
	left: 156px;
}

#u9726-4
{
	z-index: 3;
	width: 454px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 19px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

