/*
© Iman Fayek
*/

.version.digital_art /* version checker */
{
	color: #0000FD;
	background-color: #DD6928;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 674px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 117px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu12336
{
	width: 0.01px;
	margin-left: 287px;
	margin-top: 28px;
}

#u12336
{
	z-index: 206;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12332-4
{
	z-index: 177;
	width: 232px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u12484
{
	z-index: 208;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#menuu12345
{
	z-index: 181;
	width: 571px;
	margin-left: 213px;
	margin-top: 5px;
	position: relative;
}

#u12360
{
	width: 118px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
}

#u12363
{
	width: 118px;
	padding-bottom: 20px;
	position: relative;
}

#u12363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12363.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12365-4
{
	width: 67px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12363:hover #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12363.MuseMenuActive #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12346
{
	width: 161px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u12349
{
	width: 161px;
	padding-bottom: 20px;
	position: relative;
}

#u12349:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12349.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12351-4
{
	width: 110px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12349:hover #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12349.MuseMenuActive #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12353
{
	width: 135px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u12356
{
	width: 135px;
	padding-bottom: 20px;
	position: relative;
}

#u12356:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12356.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12359-4
{
	width: 84px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12356:hover #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12356.MuseMenuActive #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12367
{
	width: 151px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u12370
{
	width: 151px;
	padding-bottom: 20px;
	position: relative;
}

#u12370:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12370.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12371-4
{
	width: 101px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12370:hover #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12370.MuseMenuActive #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12758
{
	z-index: 176;
	width: 336px;
	height: 522px;
	position: fixed;
	bottom: 0px;
	right: -1px;
}

#u5217-4
{
	z-index: 38;
	width: 741px;
	min-height: 91px;
	background-color: transparent;
	font-size: 100px;
	line-height: 85px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 74px;
	position: relative;
}

#u14243-4
{
	z-index: 159;
	width: 108px;
	min-height: 91px;
	background-color: transparent;
	font-size: 72px;
	line-height: 61px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 46px;
	position: relative;
}

#u14058-6
{
	z-index: 78;
	width: 575px;
	min-height: 93px;
	background-color: transparent;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 46px;
	position: relative;
}

#u14058-2
{
	font-size: 36px;
	line-height: 46px;
}

#u14058-4
{
	font-size: 30px;
	line-height: 39px;
}

#pu12616
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
	margin-top: -73px;
}

#u12616
{
	z-index: 167;
	height: 103px;
	position: fixed;
	bottom: 0px;
}

#u12616-bw
{
	z-index: 167;
}

#u12325-4
{
	z-index: 168;
	width: 454px;
	position: fixed;
	bottom: 29px;
	left: 305px;
}

#u12769
{
	z-index: 172;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 25px;
}

#u12796
{
	z-index: 173;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 95px;
}

#u12807
{
	z-index: 174;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 165px;
}

#u12818
{
	z-index: 175;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 235px;
}

#slideshowu14059
{
	z-index: 84;
	width: 0.01px;
	height: 1277px;
	margin-left: 195px;
	margin-top: 3px;
	position: relative;
}

#u14088
{
	position: absolute;
	width: 746px;
	height: 589px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 52px;
	left: -1132px;
	-pie-background: rgba(244,244,244,0.95);
}

#u14088popup
{
	z-index: 85;
}

#u14103
{
	z-index: 86;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14103_img
{
	padding-left: 88px;
	padding-right: 87px;
}

#u14097
{
	z-index: 88;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14099
{
	z-index: 90;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14091
{
	z-index: 92;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14091_img
{
	padding-top: 193px;
	padding-bottom: 194px;
}

#u14095
{
	z-index: 94;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14089
{
	z-index: 96;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14093
{
	z-index: 98;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14097_img,#u14099_img,#u14095_img,#u14089_img,#u14093_img
{
	padding: 8px 95px 7px;
}

#u14101
{
	z-index: 100;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14101_img
{
	padding: 66px 206px;
}

#u14071
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 47px;
}

#u14071popup
{
	z-index: 102;
}

#u14084
{
	z-index: 103;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u14076
{
	z-index: 105;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u14082
{
	z-index: 107;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u14072
{
	z-index: 109;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 349px;
}

#u14072_img
{
	padding-top: 120px;
	padding-bottom: 120px;
}

#u14074
{
	z-index: 111;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 620px;
	left: 39px;
}

#u14078
{
	z-index: 113;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 620px;
	left: 349px;
}

#u14074:hover,#u14078:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 620px -10000px 0px 0px;
}

#u14086
{
	z-index: 115;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 39px;
}

#u14080
{
	z-index: 117;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 349px;
}

#u14086:hover,#u14080:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 930px -10000px 0px 0px;
}

#u14080_img
{
	padding-left: 40px;
	padding-right: 40px;
}

#u14062
{
	position: absolute;
	width: 702px;
	background-color: transparent;
	top: 641px;
	left: -1110px;
}

#u14062popup
{
	z-index: 119;
}

#u14064-4
{
	z-index: 120;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14068-4
{
	z-index: 124;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14066-4
{
	z-index: 128;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14067-4
{
	z-index: 132;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14070-4
{
	z-index: 136;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14065-4
{
	z-index: 140;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14063-4
{
	z-index: 144;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14069-4
{
	z-index: 148;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14064,#u14068,#u14066,#u14067,#u14070,#u14065,#u14063,#u14069
{
	font-size: 24px;
}

#u14105-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -1202px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u14105-3popup
{
	z-index: 152;
}

#u14108-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -386px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u14105-3:hover,#u14108-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 589px;
	width: 70px;
	margin: 0px;
}

#u14108-3popup
{
	z-index: 155;
}

#u14106
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 52px;
	left: -449px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u14106:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 63px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14246-4
{
	z-index: 163;
	width: 108px;
	min-height: 91px;
	background-color: transparent;
	font-size: 72px;
	line-height: 61px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 109px;
	position: relative;
}

#u5215-4
{
	z-index: 42;
	width: 741px;
	min-height: 62px;
	background-color: transparent;
	font-size: 30px;
	line-height: 39px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 50px;
	position: relative;
}

#slideshowu5165
{
	z-index: 3;
	width: 0.01px;
	height: 627px;
	margin-left: 252px;
	margin-top: 33px;
	position: relative;
}

#u5194
{
	position: absolute;
	width: 746px;
	height: 592px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 143px;
	left: -1123px;
	-pie-background: rgba(244,244,244,0.95);
}

#u5194popup
{
	z-index: 4;
}

#u8118
{
	z-index: 5;
	width: 702px;
	height: 530px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8118_img
{
	padding: 26px 103px 25px;
}

#u8158
{
	z-index: 7;
	width: 702px;
	height: 530px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8158_img
{
	padding: 26px 95px 25px 96px;
}

#u8178
{
	z-index: 9;
	width: 702px;
	height: 530px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8178_img
{
	padding: 52px 27px;
}

#u5166
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
}

#u5166popup
{
	z-index: 11;
}

#u8124
{
	z-index: 12;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u8124_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u8164
{
	z-index: 14;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u8164_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u8184
{
	z-index: 16;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u14082:hover,#u14072:hover,#u8184:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u8184_img
{
	padding-top: 51px;
	padding-bottom: 52px;
}

#u5185popup
{
	z-index: 18;
}

#u8130-4
{
	z-index: 19;
	width: 700px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8170-4
{
	z-index: 23;
	width: 700px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8190-4
{
	z-index: 27;
	width: 700px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u5183-3
{
	position: absolute;
	width: 70px;
	min-height: 592px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 143px;
	left: -1193px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5183-3popup
{
	z-index: 31;
}

#u5211-3
{
	position: absolute;
	width: 70px;
	min-height: 592px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 142px;
	left: -377px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u5211-3popup
{
	z-index: 34;
}

#u5214
{
	position: absolute;
	width: 70px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 142px;
	left: -447px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u13161-4
{
	z-index: 74;
	width: 741px;
	min-height: 62px;
	background-color: transparent;
	font-size: 30px;
	line-height: 39px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 199px;
	margin-top: 83px;
	position: relative;
}

#slideshowu13136
{
	z-index: 47;
	width: 0.01px;
	height: 363px;
	margin-left: 252px;
	margin-top: 75px;
	position: relative;
}

#u13138
{
	position: absolute;
	width: 746px;
	height: 592px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 143px;
	left: -1123px;
	-pie-background: rgba(244,244,244,0.95);
}

#u13138popup
{
	z-index: 48;
}

#u13576
{
	z-index: 49;
	width: 702px;
	height: 530px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13596
{
	z-index: 51;
	width: 702px;
	height: 530px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13576_img,#u13596_img
{
	padding-top: 68px;
	padding-bottom: 67px;
}

#u13145
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 63px;
}

#u13145popup
{
	z-index: 53;
}

#u13582
{
	z-index: 54;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u13602
{
	z-index: 56;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u14084:hover,#u14076:hover,#u8124:hover,#u8164:hover,#u13582:hover,#u13602:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5185,#u13152
{
	position: absolute;
	width: 700px;
	background-color: transparent;
	top: 668px;
	left: -1102px;
}

#u13152popup
{
	z-index: 58;
}

#u13588-4
{
	z-index: 59;
	width: 700px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u13608-4
{
	z-index: 63;
	width: 700px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u13158-3
{
	position: absolute;
	width: 70px;
	min-height: 592px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 143px;
	left: -1193px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u13158-3popup
{
	z-index: 67;
}

#u13157-3
{
	position: absolute;
	width: 70px;
	min-height: 592px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 142px;
	left: -377px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u5183-3:hover,#u5211-3:hover,#u13158-3:hover,#u13157-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 592px;
	width: 70px;
	margin: 0px;
}

#u13157-3popup
{
	z-index: 70;
}

#u13159
{
	position: absolute;
	width: 70px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 142px;
	left: -447px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u5214:hover,#u13159:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 70px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u5216
{
	z-index: 46;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -1630px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5216:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u5216.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

