/*
© Iman Fayek
*/

.version.drawings___doodles /* version checker */
{
	color: #000012;
	background-color: #EDB4EA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 671px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 0.01px;
	padding-bottom: 53px;
	margin-right: -10000px;
	margin-left: -987px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 1474px;
}

#u10658
{
	z-index: 41;
	width: 575px;
	position: relative;
	margin-right: -10000px;
	left: 1007px;
	padding: 72px 195px 1301.45px 180px;
	background: transparent url("../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u5081-4
{
	z-index: 77;
	width: 575px;
	min-height: 145px;
	background-color: transparent;
	line-height: 85px;
	font-size: 100px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
}

#u5082-4
{
	z-index: 81;
	width: 575px;
	min-height: 85px;
	background-color: transparent;
	line-height: 41px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-top: 50px;
	position: relative;
}

#u8077-6
{
	z-index: 113;
	width: 575px;
	min-height: 101px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-top: 37px;
	position: relative;
}

#u8077-2
{
	font-style: normal;
}

#slideshowu5031
{
	z-index: 42;
	width: 0.01px;
	height: 655px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1230px;
	left: 1204px;
}

#u5032
{
	position: absolute;
	width: 746px;
	height: 589px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 52px;
	left: -1132px;
	-pie-background: rgba(244,244,244,0.95);
}

#u5032popup
{
	z-index: 43;
}

#u5459
{
	z-index: 44;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5459_img
{
	padding: 24px 170px 24px 171px;
}

#u5477
{
	z-index: 46;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5477_img
{
	padding: 24px 143px;
}

#u5486
{
	z-index: 48;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5486_img
{
	padding: 24px 80px;
}

#u5052
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 45px;
}

#u5052popup
{
	z-index: 50;
}

#u5462
{
	z-index: 51;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u5480
{
	z-index: 53;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u5480_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u5489
{
	z-index: 55;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u5489:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u5489_img
{
	margin-left: -20px;
	margin-right: -20px;
}

#u5070
{
	position: absolute;
	width: 702px;
	background-color: transparent;
	top: 641px;
	left: -1110px;
}

#u5070popup
{
	z-index: 57;
}

#u5465-4
{
	z-index: 58;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	color: #3E3E3E;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u5483-4
{
	z-index: 62;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	color: #3E3E3E;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u5483
{
	font-size: 24px;
}

#u5492-4
{
	z-index: 66;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	color: #3E3E3E;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u5050-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -1202px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5050-3popup
{
	z-index: 70;
}

#u5069-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -386px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u5050-3:hover,#u5069-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 589px;
	width: 70px;
	margin: 0px;
}

#u5069-3popup
{
	z-index: 73;
}

#u5051
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 52px;
	left: -449px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu7894
{
	z-index: 86;
	width: 0.01px;
	height: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
	left: 1204px;
}

#u7930
{
	position: absolute;
	width: 746px;
	height: 593px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 107px;
	left: -1134px;
	-pie-background: rgba(244,244,244,0.95);
}

#u7930popup
{
	z-index: 87;
}

#u7935
{
	z-index: 88;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7935_img
{
	padding: 26px 215px;
}

#u7937
{
	z-index: 90;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7937_img
{
	padding: 26px 202px;
}

#u7895
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 23px;
}

#u7895popup
{
	z-index: 92;
}

#u7908
{
	z-index: 93;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u7908_img
{
	padding-left: 65px;
	padding-right: 65px;
}

#u7904
{
	z-index: 95;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u5462:hover,#u5480:hover,#u7908:hover,#u7904:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7904_img
{
	padding-left: 57px;
	padding-right: 56px;
}

#u7918
{
	position: absolute;
	width: 458px;
	background-color: transparent;
	top: 632px;
	left: -1111px;
}

#u7918popup
{
	z-index: 97;
}

#u7925-4
{
	z-index: 98;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	color: #3E3E3E;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7927-4
{
	z-index: 102;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	color: #3E3E3E;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7916-3
{
	position: absolute;
	width: 70px;
	min-height: 593px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 107px;
	left: -1204px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u7916-3popup
{
	z-index: 106;
}

#u7929-3
{
	position: absolute;
	width: 70px;
	min-height: 593px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 107px;
	left: -387px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u7916-3:hover,#u7929-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 593px;
	width: 70px;
	margin: 0px;
}

#u7929-3popup
{
	z-index: 109;
}

#u7915
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 107px;
	left: -452px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u5051:hover,#u7915:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 63px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u8080-6
{
	z-index: 119;
	width: 575px;
	min-height: 93px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 964px;
	left: 1187px;
}

#pu5729
{
	width: 0.01px;
	padding-bottom: 676px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: -73px;
}

#u5729
{
	z-index: 7;
	width: 140px;
	position: fixed;
	top: 18px;
	right: 9px;
}

#u5749
{
	z-index: 9;
	width: 97px;
	position: fixed;
	top: 186px;
	right: 61px;
}

#u5752
{
	z-index: 11;
	width: 140px;
	position: fixed;
	top: 266px;
	right: -24px;
}

#u5755
{
	z-index: 13;
	width: 140px;
	position: fixed;
	bottom: -20px;
	right: -20px;
}

#u5758
{
	z-index: 15;
	width: 105px;
	position: fixed;
	bottom: 58px;
	right: 97px;
}

#u5764
{
	z-index: 17;
	width: 123px;
	position: fixed;
	bottom: 124px;
	right: 0px;
}

#u5767
{
	z-index: 21;
	width: 93px;
	position: fixed;
	bottom: 14px;
	right: 208px;
}

#u5770
{
	z-index: 23;
	width: 72px;
	position: fixed;
	bottom: -10px;
	right: 136px;
}

#u5773
{
	z-index: 25;
	width: 55px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: 14px;
}

#u5779
{
	z-index: 29;
	width: 87px;
	position: fixed;
	bottom: 2px;
	left: 50%;
	margin-left: 122px;
}

#u5782
{
	z-index: 31;
	width: 140px;
	position: fixed;
	bottom: -20px;
	left: 50%;
	margin-left: 209px;
}

#u5785
{
	z-index: 33;
	width: 94px;
	position: fixed;
	top: 433px;
	right: 115px;
}

#u5788
{
	z-index: 35;
	width: 59px;
	position: fixed;
	bottom: 148px;
	right: 202px;
}

#u5873
{
	z-index: 39;
	width: 78px;
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: 377px;
}

#u174
{
	z-index: 125;
	width: 151px;
	height: 151px;
	position: fixed;
	bottom: 431px;
	left: 67px;
}

#u175-4
{
	z-index: 126;
	width: 281px;
	min-height: 27px;
	position: fixed;
	bottom: 364px;
	left: 68px;
}

#u591-4
{
	z-index: 130;
	width: 281px;
	min-height: 22px;
	position: fixed;
	bottom: 332px;
	left: 68px;
}

#menuu205
{
	z-index: 134;
	width: 281px;
	position: fixed;
	bottom: 26px;
	left: 68px;
}

#u8550
{
	width: 281px;
	position: relative;
}

#u8553
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8555-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553:hover #u8555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553.MuseMenuActive,#u228:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553.MuseMenuActive #u8555-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 281px;
	margin-top: 2px;
	position: relative;
}

#u254
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u10392
{
	z-index: 159;
	width: 28px;
	position: fixed;
	bottom: 290px;
	left: 164px;
}

#u10402
{
	z-index: 161;
	width: 37px;
	position: fixed;
	bottom: 290px;
	left: 111px;
}

#u10412
{
	z-index: 163;
	width: 27px;
	position: fixed;
	bottom: 290px;
	left: 68px;
}

#u10422
{
	z-index: 165;
	width: 46px;
	position: fixed;
	bottom: 290px;
	left: 208px;
}

#u6139
{
	z-index: 167;
	width: 40px;
	position: fixed;
	bottom: 383px;
	left: 27px;
}

#u5083
{
	z-index: 85;
	width: 62px;
	height: 62px;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	position: fixed;
	bottom: 323px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5083:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u5083.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5870
{
	z-index: 37;
	width: 55px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: 525px;
}

#u5776
{
	z-index: 27;
	width: 94px;
	position: fixed;
	bottom: 221px;
	right: -47px;
}

#u5761
{
	z-index: 19;
	width: 70px;
	position: fixed;
	top: 517px;
	right: -40px;
}

#u9726-4
{
	z-index: 3;
	width: 454px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 19px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

