/*
© Iman Fayek
*/

.version.game_design /* version checker */
{
	color: #00001B;
	background-color: #7AB486;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1942px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

#pu5729
{
	width: 0.01px;
	padding-bottom: 676px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: -73px;
}

#u5729
{
	z-index: 7;
	width: 140px;
	position: fixed;
	top: 18px;
	right: 9px;
}

#u5749
{
	z-index: 9;
	width: 97px;
	position: fixed;
	top: 186px;
	right: 61px;
}

#u5752
{
	z-index: 11;
	width: 140px;
	position: fixed;
	top: 266px;
	right: -24px;
}

#u5755
{
	z-index: 13;
	width: 140px;
	position: fixed;
	bottom: -20px;
	right: -20px;
}

#u5758
{
	z-index: 15;
	width: 105px;
	position: fixed;
	bottom: 58px;
	right: 97px;
}

#u5764
{
	z-index: 17;
	width: 123px;
	position: fixed;
	bottom: 124px;
	right: 0px;
}

#u5767
{
	z-index: 21;
	width: 93px;
	position: fixed;
	bottom: 14px;
	right: 208px;
}

#u5770
{
	z-index: 23;
	width: 72px;
	position: fixed;
	bottom: -10px;
	right: 136px;
}

#u5773
{
	z-index: 25;
	width: 55px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: 14px;
}

#u5779
{
	z-index: 29;
	width: 87px;
	position: fixed;
	bottom: 2px;
	left: 50%;
	margin-left: 122px;
}

#u5782
{
	z-index: 31;
	width: 140px;
	position: fixed;
	bottom: -20px;
	left: 50%;
	margin-left: 209px;
}

#u5785
{
	z-index: 33;
	width: 94px;
	position: fixed;
	top: 433px;
	right: 115px;
}

#u5788
{
	z-index: 35;
	width: 59px;
	position: fixed;
	bottom: 148px;
	right: 202px;
}

#u5873
{
	z-index: 39;
	width: 78px;
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: 377px;
}

#u174
{
	z-index: 93;
	width: 151px;
	height: 151px;
	position: fixed;
	bottom: 431px;
	left: 67px;
}

#u175-4
{
	z-index: 94;
	width: 281px;
	min-height: 27px;
	position: fixed;
	bottom: 364px;
	left: 68px;
}

#u591-4
{
	z-index: 98;
	width: 281px;
	min-height: 22px;
	position: fixed;
	bottom: 332px;
	left: 68px;
}

#menuu205
{
	z-index: 102;
	width: 281px;
	position: fixed;
	bottom: 26px;
	left: 68px;
}

#u8550
{
	width: 281px;
	position: relative;
}

#u8553
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8555-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553:hover #u8555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u8553.MuseMenuActive,#u228:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u8553.MuseMenuActive #u8555-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 281px;
	margin-top: 2px;
	position: relative;
}

#u254
{
	width: 281px;
	min-height: 43px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 281px;
	min-height: 43px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 281px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 281px;
	margin: 0px -10000px 0px 0px;
}

#u10392
{
	z-index: 127;
	width: 28px;
	position: fixed;
	bottom: 290px;
	left: 164px;
}

#u10402
{
	z-index: 129;
	width: 37px;
	position: fixed;
	bottom: 290px;
	left: 111px;
}

#u10412
{
	z-index: 131;
	width: 27px;
	position: fixed;
	bottom: 290px;
	left: 68px;
}

#u10422
{
	z-index: 133;
	width: 46px;
	position: fixed;
	bottom: 290px;
	left: 208px;
}

#u6139
{
	z-index: 135;
	width: 40px;
	position: fixed;
	bottom: 383px;
	left: 27px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 487px;
}

#u10666
{
	z-index: 41;
	width: 740px;
	position: relative;
	margin-right: -10000px;
	padding: 127px 9px 44.46666666666397px 201px;
	background: transparent url("../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u7820-6
{
	z-index: 42;
	width: 381px;
	min-height: 118px;
	background-color: transparent;
	line-height: 85px;
	font-size: 100px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 26px;
	position: relative;
}

#u7821-4
{
	z-index: 48;
	width: 575px;
	min-height: 205px;
	background-color: transparent;
	line-height: 53px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 26px;
	margin-top: 95px;
	position: relative;
}

#u9407-6
{
	z-index: 53;
	width: 575px;
	min-height: 101px;
	background-color: transparent;
	line-height: 53px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 26px;
	margin-top: 52px;
	position: relative;
}

#pu9891-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 47px;
}

#u9891-4
{
	z-index: 61;
	width: 397px;
	min-height: 101px;
	background-color: transparent;
	line-height: 51px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu12121
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 447px;
}

#u12121
{
	z-index: 89;
	width: 160px;
	background-color: transparent;
	position: relative;
}

#u9881
{
	z-index: 73;
	width: 160px;
	background-color: transparent;
	margin-top: 52px;
	position: relative;
}

#pu9983-4
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 10px;
}

#u9983-4
{
	z-index: 65;
	width: 319px;
	min-height: 220px;
	background-color: transparent;
	line-height: 52px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#u9761
{
	z-index: 71;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 66px;
}

#u9894
{
	z-index: 75;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 527px;
}

#u9903
{
	z-index: 77;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 228px;
}

#u9986-4
{
	z-index: 81;
	width: 468px;
	min-height: 101px;
	background-color: transparent;
	line-height: 53px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
}

#u9751
{
	z-index: 69;
	width: 740px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#pu9771
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 16px;
}

#u9771
{
	z-index: 59;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9989-4
{
	z-index: 85;
	width: 257px;
	min-height: 249px;
	background-color: transparent;
	line-height: 51px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 229px;
}

#u9407-4,#u9891-2,#u9983-2,#u9986-2,#u9989-2
{
	padding-right: 1px;
}

#u12131
{
	z-index: 91;
	width: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 507px;
}

#u9913
{
	z-index: 79;
	width: 480px;
	background-color: transparent;
	margin-left: 132px;
	margin-top: 31px;
	position: relative;
}

#u7819
{
	z-index: 52;
	width: 62px;
	height: 62px;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	position: fixed;
	bottom: 320px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u7819:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u7819.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5870
{
	z-index: 37;
	width: 55px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: 525px;
}

#u5776
{
	z-index: 27;
	width: 94px;
	position: fixed;
	bottom: 221px;
	right: -47px;
}

#u5761
{
	z-index: 19;
	width: 70px;
	position: fixed;
	top: 517px;
	right: -40px;
}

#u9726-4
{
	z-index: 3;
	width: 454px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 19px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

