/*
© Iman Fayek
*/

.version.index /* version checker */
{
	color: #0000E7;
	background-color: #023759;
}

#page
{
	z-index: 1;
	width: 584px;
	min-height: 557px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 200px;
	padding-right: 176px;
	padding-bottom: 117px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	margin-left: 287px;
	position: relative;
}

#pu12336
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 28px;
}

#u12336
{
	z-index: 47;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12332-4
{
	z-index: 18;
	width: 232px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u12484
{
	z-index: 49;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#menuu12345
{
	z-index: 22;
	width: 571px;
	margin-left: 13px;
	margin-top: 5px;
	position: relative;
}

#u12360
{
	width: 118px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
}

#u12363
{
	width: 118px;
	padding-bottom: 20px;
	position: relative;
}

#u12363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12363.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12365-4
{
	width: 67px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12363:hover #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12363.MuseMenuActive #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12346
{
	width: 161px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u12349
{
	width: 161px;
	padding-bottom: 20px;
	position: relative;
}

#u12349:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12349.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12351-4
{
	width: 110px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12349:hover #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12349.MuseMenuActive #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12353
{
	width: 135px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u12356
{
	width: 135px;
	padding-bottom: 20px;
	position: relative;
}

#u12356:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12356.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12359-4
{
	width: 84px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12356:hover #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12356.MuseMenuActive #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12367
{
	width: 151px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u12370
{
	width: 151px;
	padding-bottom: 20px;
	position: relative;
}

#u12370:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12370.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12371-4
{
	width: 101px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12370:hover #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12370.MuseMenuActive #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12758
{
	z-index: 17;
	width: 336px;
	height: 522px;
	position: fixed;
	bottom: 0px;
	right: -1px;
}

#u14776
{
	z-index: 3;
	width: 244px;
	height: 244px;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	margin-left: 153px;
	margin-top: 53px;
	position: relative;
	background: transparent url("../images/imansolo.gif") no-repeat center center;
	background-size: cover;
}

#u14779-4
{
	z-index: 4;
	width: 575px;
	min-height: 62px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u12616
{
	z-index: 8;
	height: 103px;
	position: fixed;
	bottom: 0px;
}

#u12616-bw
{
	z-index: 8;
}

#u12769
{
	z-index: 13;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 25px;
}

#u12796
{
	z-index: 14;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 95px;
}

#u12807
{
	z-index: 15;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 165px;
}

#u12818
{
	z-index: 16;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 235px;
}

#u12325-4
{
	z-index: 9;
	width: 454px;
	position: fixed;
	bottom: 29px;
	left: 305px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

