/*
© Iman Fayek
*/

.version.portfolio /* version checker */
{
	color: #0000F4;
	background-color: #19B048;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 674px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 117px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu12336
{
	width: 0.01px;
	margin-left: 287px;
	margin-top: 28px;
}

#u12336
{
	z-index: 58;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12332-4
{
	z-index: 29;
	width: 232px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u12484
{
	z-index: 60;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#menuu12345
{
	z-index: 33;
	width: 571px;
	margin-left: 213px;
	margin-top: 5px;
	position: relative;
}

#u12360
{
	width: 118px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
}

#u12363
{
	width: 118px;
	padding-bottom: 20px;
	position: relative;
}

#u12363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12363.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12365-4
{
	width: 67px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12363:hover #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12363.MuseMenuActive #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12346
{
	width: 161px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u12349
{
	width: 161px;
	padding-bottom: 20px;
	position: relative;
}

#u12349:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12349.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12351-4
{
	width: 110px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12349:hover #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12349.MuseMenuActive #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12353
{
	width: 135px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u12356
{
	width: 135px;
	padding-bottom: 20px;
	position: relative;
}

#u12356:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12356.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12359-4
{
	width: 84px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12356:hover #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12356.MuseMenuActive #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12367
{
	width: 151px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u12370
{
	width: 151px;
	padding-bottom: 20px;
	position: relative;
}

#u12370:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12370.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12371-4
{
	width: 101px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12370:hover #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12370.MuseMenuActive #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12758
{
	z-index: 28;
	width: 336px;
	height: 522px;
	position: fixed;
	bottom: 0px;
	right: -1px;
}

#pbuttonu8235
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 90px;
}

#buttonu8235
{
	z-index: 4;
	width: 332px;
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/boba.jpg") no-repeat center center;
	background-size: cover;
}

#u8236-4
{
	z-index: 5;
	width: 283px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: #FFFFFF;
	line-height: 43px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 20px;
}

#buttonu8235:hover #u8236-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 283px;
	margin: 391px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu8235:hover #u8236-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8246
{
	z-index: 9;
	width: 333px;
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
	background: transparent url("../images/monsterface.jpg") no-repeat center center;
	background-size: cover;
}

#u8247-4
{
	z-index: 10;
	width: 283px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: #FFFFFF;
	line-height: 43px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 25px;
}

#buttonu8246:hover #u8247-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 283px;
	margin: 391px -10000px 0px 0px;
}

#buttonu8235.ButtonSelected #u8236-4,#buttonu8246.ButtonSelected #u8247-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 283px;
	margin: 391px -10000px 0px 0px;
}

#buttonu8246:hover #u8247-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu12616
{
	width: 0.01px;
	padding-bottom: 103px;
	margin-left: -100px;
	margin-top: -168px;
}

#u12616
{
	z-index: 19;
	height: 103px;
	position: fixed;
	bottom: 0px;
}

#u12616-bw
{
	z-index: 19;
}

#u12325-4
{
	z-index: 20;
	width: 454px;
	position: fixed;
	bottom: 29px;
	left: 305px;
}

#u12769
{
	z-index: 24;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 25px;
}

#u12796
{
	z-index: 25;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 95px;
}

#u12807
{
	z-index: 26;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 165px;
}

#u12818
{
	z-index: 27;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 235px;
}

#buttonu8634
{
	z-index: 14;
	width: 683px;
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 29px;
	margin-left: 200px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/samplemapdog.jpg") no-repeat center center;
	background-size: cover;
}

#u8635-4
{
	z-index: 15;
	width: 283px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: #FFFFFF;
	line-height: 43px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 204px;
}

#buttonu8634:hover #u8635-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 283px;
	margin: 388px -10000px 0px 0px;
}

#buttonu8634.ButtonSelected #u8635-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 283px;
	margin: 388px -10000px 0px 0px;
}

#buttonu8634:hover #u8635-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu8235.ButtonSelected #u8236-4 p,#buttonu8246.ButtonSelected #u8247-4 p,#buttonu8634.ButtonSelected #u8635-4 p
{
	color: #3E3E3E;
	visibility: inherit;
}

#u8236-2,#u8247-2,#u8635-2
{
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
}

#u1104
{
	z-index: 3;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 89px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1104:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1104.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

