/*
© Iman Fayek
*/

.version.traditional_art /* version checker */
{
	color: #00001D;
	background-color: #E8B520;
}

#page
{
	z-index: 1;
	width: 688px;
	min-height: 557px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 195px;
	padding-right: 77px;
	padding-bottom: 117px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	margin-left: 292px;
	position: relative;
}

#pu12336
{
	width: 0.01px;
	margin-left: 92px;
	margin-top: 28px;
}

#u12336
{
	z-index: 137;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12332-4
{
	z-index: 108;
	width: 232px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u12484
{
	z-index: 139;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#menuu12345
{
	z-index: 112;
	width: 571px;
	margin-left: 18px;
	margin-top: 5px;
	position: relative;
}

#u12360
{
	width: 118px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
}

#u12363
{
	width: 118px;
	padding-bottom: 20px;
	position: relative;
}

#u12363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12363.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u12365-4
{
	width: 67px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12363:hover #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12363.MuseMenuActive #u12365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u12346
{
	width: 161px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u12349
{
	width: 161px;
	padding-bottom: 20px;
	position: relative;
}

#u12349:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12349.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u12351-4
{
	width: 110px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12349:hover #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12349.MuseMenuActive #u12351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u12353
{
	width: 135px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u12356
{
	width: 135px;
	padding-bottom: 20px;
	position: relative;
}

#u12356:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12356.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u12359-4
{
	width: 84px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12356:hover #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12356.MuseMenuActive #u12359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u12367
{
	width: 151px;
	min-height: 63px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u12370
{
	width: 151px;
	padding-bottom: 20px;
	position: relative;
}

#u12370:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12370.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u12371-4
{
	width: 101px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 25px;
}

#u12370:hover #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12370.MuseMenuActive #u12371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 101px;
	margin: 0px -10000px 0px 0px;
}

#u12758
{
	z-index: 107;
	width: 336px;
	height: 522px;
	position: fixed;
	bottom: 0px;
	right: -1px;
}

#u5081-4
{
	z-index: 38;
	width: 683px;
	min-height: 145px;
	background-color: transparent;
	font-size: 100px;
	line-height: 85px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 5px;
	margin-top: 46px;
	position: relative;
}

#u8077-6
{
	z-index: 86;
	width: 575px;
	min-height: 101px;
	background-color: transparent;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 5px;
	margin-top: 49px;
	position: relative;
}

#u8077-2
{
	font-size: 36px;
	line-height: 46px;
	font-style: normal;
}

#u12616
{
	z-index: 98;
	height: 103px;
	position: fixed;
	bottom: 0px;
}

#u12616-bw
{
	z-index: 98;
}

#slideshowu7894
{
	z-index: 43;
	width: 0.01px;
	height: 610px;
	margin-top: 32px;
	position: relative;
}

#u7930
{
	position: absolute;
	width: 746px;
	height: 593px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 107px;
	left: -1128px;
	-pie-background: rgba(244,244,244,0.95);
}

#u7930popup
{
	z-index: 44;
}

#u13480
{
	z-index: 45;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13480_img
{
	padding-left: 190px;
	padding-right: 189px;
}

#u13633
{
	z-index: 47;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13633_img
{
	padding-left: 200px;
	padding-right: 201px;
}

#u13653
{
	z-index: 49;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13653_img
{
	padding: 26px 202px;
}

#u13500
{
	z-index: 51;
	width: 702px;
	height: 531px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13500_img
{
	padding-left: 59px;
	padding-right: 58px;
}

#u7895
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u7895popup
{
	z-index: 53;
}

#u13486
{
	z-index: 54;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u13486_img
{
	padding-left: 59px;
	padding-right: 59px;
}

#u13639
{
	z-index: 56;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u13639_img
{
	padding-left: 65px;
	padding-right: 65px;
}

#u13659
{
	z-index: 58;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u13659_img
{
	padding-left: 57px;
	padding-right: 56px;
}

#u13506
{
	z-index: 60;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 349px;
}

#u13506_img
{
	padding-top: 14px;
	padding-bottom: 14px;
}

#u7918
{
	position: absolute;
	width: 458px;
	background-color: transparent;
	top: 632px;
	left: -1105px;
}

#u7918popup
{
	z-index: 62;
}

#u13492-4
{
	z-index: 63;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u13645-4
{
	z-index: 67;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u13665-4
{
	z-index: 71;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u13512-4
{
	z-index: 75;
	width: 458px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u7916-3
{
	position: absolute;
	width: 70px;
	min-height: 593px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 107px;
	left: -1198px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u7916-3popup
{
	z-index: 79;
}

#u7929-3
{
	position: absolute;
	width: 70px;
	min-height: 593px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 107px;
	left: -382px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u7916-3:hover,#u7929-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 593px;
	width: 70px;
	margin: 0px;
}

#u7929-3popup
{
	z-index: 82;
}

#u7915
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 107px;
	left: -446px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u12769
{
	z-index: 103;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 25px;
}

#u12796
{
	z-index: 104;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 95px;
}

#u12807
{
	z-index: 105;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 165px;
}

#u12818
{
	z-index: 106;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 29px;
	left: 235px;
}

#u12325-4
{
	z-index: 99;
	width: 454px;
	position: fixed;
	bottom: 29px;
	left: 305px;
}

#u8080-6
{
	z-index: 92;
	width: 575px;
	min-height: 39px;
	background-color: transparent;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 5px;
	margin-top: 60px;
	position: relative;
}

#u8080-2
{
	font-size: 36px;
	line-height: 46px;
}

#u8077-4,#u8080-4
{
	font-size: 30px;
	line-height: 39px;
}

#slideshowu5031
{
	z-index: 3;
	width: 0.01px;
	height: 641px;
	margin-top: 32px;
	position: relative;
}

#u5032
{
	position: absolute;
	width: 746px;
	height: 589px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 52px;
	left: -1132px;
	-pie-background: rgba(244,244,244,0.95);
}

#u5032popup
{
	z-index: 4;
}

#u14287
{
	z-index: 5;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14287_img
{
	padding: 24px 170px 24px 171px;
}

#u14307
{
	z-index: 7;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14307_img
{
	padding: 24px 143px;
}

#u14327
{
	z-index: 9;
	width: 702px;
	height: 527px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14327_img
{
	padding: 24px 80px;
}

#u5052
{
	position: absolute;
	width: 688px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 31px;
}

#u5052popup
{
	z-index: 11;
}

#u14293
{
	z-index: 12;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u14293_img
{
	padding-left: 37px;
	padding-right: 37px;
}

#u14313
{
	z-index: 14;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u13486:hover,#u13639:hover,#u14293:hover,#u14313:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14313_img
{
	padding-left: 20px;
	padding-right: 19px;
}

#u14333
{
	z-index: 16;
	width: 300px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u13659:hover,#u13506:hover,#u14333:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u14333_img
{
	padding-top: 17px;
	padding-bottom: 18px;
}

#u5070
{
	position: absolute;
	width: 702px;
	background-color: transparent;
	top: 641px;
	left: -1110px;
}

#u5070popup
{
	z-index: 18;
}

#u14299-4
{
	z-index: 19;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14319-4
{
	z-index: 23;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14339-4
{
	z-index: 27;
	width: 702px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-size: 24px;
	line-height: 34px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u5050-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -1202px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5050-3popup
{
	z-index: 31;
}

#u5069-3
{
	position: absolute;
	width: 70px;
	min-height: 589px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 53px;
	left: -386px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u5050-3:hover,#u5069-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 589px;
	width: 70px;
	margin: 0px;
}

#u5069-3popup
{
	z-index: 34;
}

#u5051
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 52px;
	left: -449px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u7915:hover,#u5051:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 63px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#u5083
{
	z-index: 42;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 89px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u5083:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u5083.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

