/*
© Iman Fayek
*/

.version.contact /* version checker */
{
	color: #0000F3;
	background-color: #F51457;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding: 5px 20px 21px;
}

#pu2393-4
{
	width: 0.01px;
	padding-bottom: 5px;
}

#u2393-4
{
	z-index: 65;
	width: 364px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2423-4
{
	z-index: 69;
	width: 364px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 364px;
}

#u10209
{
	z-index: 73;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 274px;
}

#u2392
{
	z-index: 39;
	width: 728px;
	padding-bottom: 17px;
	position: relative;
}

#menuu2394
{
	z-index: 40;
	width: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u2412
{
	width: 173px;
	position: relative;
}

#u2412:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2409,#u2415-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412:hover #u2415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2416
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u2417
{
	width: 173px;
	position: relative;
}

#u2412.MuseMenuActive,#u2417:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2417.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2418-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412.MuseMenuActive #u2415-4,#u2417:hover #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2417.MuseMenuActive #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2405
{
	width: 174px;
	position: relative;
}

#u2405:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2407-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2395
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2398
{
	width: 174px;
	position: relative;
}

#u2405.MuseMenuActive,#u2398:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2398.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2401-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405.MuseMenuActive #u2407-4,#u2398:hover #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2398.MuseMenuActive #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u10061
{
	z-index: 14;
	width: 728px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u10061_position_content
{
	padding-top: 2px;
	padding-bottom: 397px;
	width: 100%;
}

#pu10188
{
	width: 0.01px;
	margin-left: 125px;
}

#u10188
{
	z-index: 19;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u10195
{
	z-index: 21;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 536px;
}

#u10202
{
	z-index: 23;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 473px;
}

#u2706-6
{
	z-index: 25;
	width: 587px;
	min-height: 138px;
	background-color: transparent;
	line-height: 85px;
	font-size: 100px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#u12231-4
{
	z-index: 31;
	width: 498px;
	min-height: 49px;
	background-color: transparent;
	line-height: 34px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
}

#u12232-4
{
	z-index: 35;
	width: 243px;
	min-height: 49px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 252px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u12246-4
{
	z-index: 15;
	width: 48px;
	min-height: 49px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 340px;
	margin-top: 10px;
	position: relative;
}

#pu10464
{
	width: 0.01px;
	margin-left: 271px;
	margin-top: 17px;
}

#u10464
{
	z-index: 10;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u10462
{
	z-index: 8;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u10460
{
	z-index: 6;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u10466
{
	z-index: 12;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4096-4
{
	z-index: 2;
	width: 728px;
	min-height: 21px;
	margin-top: 16px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

