/*
© Iman Fayek
*/

.version.contact /* version checker */
{
	color: #0000F5;
	background-color: #939DCA;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 5px;
	padding-bottom: 21px;
	width: 0.01px;/* should not cover content below */
}

#pu2393-4
{
	width: 0.01px;
	padding-bottom: 5px;
	margin-left: 20px;
}

#u2393-4
{
	z-index: 102;
	width: 364px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2423-4
{
	z-index: 106;
	width: 364px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 364px;
}

#u10209
{
	z-index: 110;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 274px;
}

#u2392
{
	z-index: 76;
	width: 728px;
	padding-bottom: 17px;
	margin-left: 20px;
	position: relative;
}

#menuu2394
{
	z-index: 77;
	width: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u2412
{
	width: 173px;
	position: relative;
}

#u2412:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2409,#u2415-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412:hover #u2415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2416
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u2417
{
	width: 173px;
	position: relative;
}

#u2412.MuseMenuActive,#u2417:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2417.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2418-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412.MuseMenuActive #u2415-4,#u2417:hover #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2417.MuseMenuActive #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2405
{
	width: 174px;
	position: relative;
}

#u2405:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2407-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2395
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2398
{
	width: 174px;
	position: relative;
}

#u2405.MuseMenuActive,#u2398:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2398.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2401-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405.MuseMenuActive #u2407-4,#u2398:hover #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2398.MuseMenuActive #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#pu10188
{
	width: 0.01px;
	margin-left: 20px;
}

#u10188
{
	z-index: 14;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#u10195
{
	z-index: 16;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 661px;
}

#u10202
{
	z-index: 18;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 598px;
}

#u2706-6
{
	z-index: 21;
	width: 587px;
	min-height: 138px;
	background-color: transparent;
	line-height: 85px;
	font-size: 100px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u2729-4
{
	z-index: 27;
	width: 587px;
	min-height: 22px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#pu10061
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 27px;
}

#u10061
{
	z-index: 20;
	width: 728px;
	height: 548px;
	position: relative;
	margin-right: -10000px;
}

.ie #u10061
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#widgetu4111
{
	z-index: 31;
	width: 0.01px;
	height: 556px;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#widgetu4124
{
	z-index: 32;
	width: 667px;
	height: 63px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu4124.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 667px;
	height: 63px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4125-4
{
	z-index: 33;
	width: 622px;
	min-height: 33px;
	border-width: 0px;
	border-color: transparent;
	background-color: #494949;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #A5A5A5;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 39px;
}

#widgetu4124.non-empty-st #u4125-4
{
	padding-top: 15px;
	min-height: 42px;
}

#widgetu4124.focus-st #u4125-4
{
	background-color: #494949;
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 622px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4124.non-empty-st #u4125-4 *
{
	color: #FFFFFF;
	padding-top: 9px;
}

#widgetu4124.focus-st #u4125-4 *
{
	color: #FFFFFF;
	padding-top: 9px;
}

#widgetu4120
{
	z-index: 37;
	width: 667px;
	height: 63px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#widgetu4120.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 667px;
	height: 63px;
	min-height: 0px;
	margin: 62px -10000px 0px 0px;
}

#u4121-4
{
	z-index: 38;
	width: 622px;
	min-height: 33px;
	border-width: 0px;
	border-color: transparent;
	background-color: #404040;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #A5A5A5;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 39px;
}

#widgetu4120.non-empty-st #u4121-4
{
	padding-top: 15px;
	min-height: 42px;
}

#widgetu4120.focus-st #u4121-4
{
	background-color: #404040;
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 622px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4124.fld-err-st #u4125-4,#widgetu4120.fld-err-st #u4121-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #2E2E2E;
	padding-top: 24px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 622px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4120.non-empty-st #u4121-4 *
{
	color: #FFFFFF;
	padding-top: 9px;
}

#widgetu4120.focus-st #u4121-4 *
{
	color: #FFFFFF;
	padding-top: 9px;
}

#widgetu4124.fld-err-st #u4125-4 *,#widgetu4120.fld-err-st #u4121-4 *
{
	color: #FF0000;
	padding-top: 18px;
	padding-left: 33px;
	line-height: 1;
	letter-spacing: 1px;
	font-size: 12px;
	font-style: italic;
}

#widgetu4124.non-empty-st #widgetu4124_input,#widgetu4120.non-empty-st #widgetu4120_input
{
	padding-top: 15px;
}

#widgetu4124_input,#widgetu4124_prompt,#widgetu4120_input,#widgetu4120_prompt
{
	width: 622px;
	min-height: 33px;
	color: #A5A5A5;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-size: 30px;
	font-weight: 400;
	padding: 24px 6px 6px 39px;
}

#widgetu4124.non-empty-st #widgetu4124_prompt,#widgetu4120.non-empty-st #widgetu4120_prompt
{
	padding-top: 15px;
	visibility: hidden;
}

#widgetu4124.focus-st #widgetu4124_input,#widgetu4124.focus-st #widgetu4124_prompt,#widgetu4120.focus-st #widgetu4120_input,#widgetu4120.focus-st #widgetu4120_prompt
{
	padding-top: 15px;
	padding-bottom: 6px;
}

#widgetu4124.fld-err-st #widgetu4124_input,#widgetu4124.fld-err-st #widgetu4124_prompt,#widgetu4120.fld-err-st #widgetu4120_input,#widgetu4120.fld-err-st #widgetu4120_prompt
{
	padding-top: 24px;
	padding-bottom: 6px;
}

#u4118-4
{
	z-index: 42;
	width: 284px;
	min-height: 36px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
}

#widgetu4111.frm-sub-st #u4118-4 p
{
	color: #000000;
	line-height: 1;
	font-style: normal;
}

#u4116-4
{
	z-index: 46;
	width: 474px;
	min-height: 36px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 36px;
	font-size: 30px;
	color: #FF0000;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 6px;
}

#widgetu4111.frm-sub-st #u4118-4,#widgetu4111.frm-subm-err-st #u4116-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 40px;
}

#widgetu4111.frm-subm-err-st #u4116-4 p
{
	color: #91354B;
	line-height: 1;
	font-style: normal;
}

#u4119-4
{
	z-index: 50;
	width: 200px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 30px;
	font-size: 30px;
	color: #006837;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
}

#widgetu4111.frm-subm-ok-st #u4119-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 34px;
}

#widgetu4111.frm-subm-ok-st #u4119-4 p
{
	color: #006837;
	font-style: normal;
}

#u4117-17
{
	z-index: 54;
	min-height: 56px;
	width: 171px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: -2px;
	background: url("../../images/u4117-17.png") no-repeat 0px 0px;
}

#u4117-17:hover
{
	background: url("../../images/u4117-17-r.png") no-repeat 0px 0px;
}

#u4117-17:active
{
	background: url("../../images/u4117-17-m.png") no-repeat 0px 0px;
}

#widgetu4111.frm-sub-st #u4117-17
{
	background: url("../../images/u4117-17-fs.png") no-repeat 0px 0px;
}

#widgetu4112
{
	z-index: 71;
	width: 667px;
	height: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
}

#widgetu4112.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 667px;
	height: 300px;
	min-height: 0px;
	margin: 125px -10000px 0px 0px;
}

#u4114-4
{
	z-index: 72;
	width: 622px;
	min-height: 270px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2E2E2E;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #E2E2E2;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 39px;
}

#widgetu4112.non-empty-st #u4114-4
{
	padding-top: 21px;
	min-height: 273px;
}

#widgetu4112.fld-err-st #u4114-4
{
	padding-top: 21px;
	padding-bottom: 6px;
	min-height: 273px;
	width: 622px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4112.non-empty-st #u4114-4 *
{
	color: #FFFFFF;
	padding-top: 15px;
}

#widgetu4112.fld-err-st #u4114-4 *
{
	color: #D7244C;
	padding-top: 15px;
	font-style: italic;
}

#widgetu4112.non-empty-st #widgetu4112_input
{
	padding-top: 21px;
}

#widgetu4112_input,#widgetu4112_prompt
{
	width: 622px;
	min-height: 270px;
	color: #E2E2E2;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-size: 30px;
	font-weight: 400;
	padding: 24px 6px 6px 39px;
}

#widgetu4112.non-empty-st #widgetu4112_prompt
{
	padding-top: 21px;
	visibility: hidden;
}

#widgetu4112.fld-err-st #widgetu4112_input,#widgetu4112.fld-err-st #widgetu4112_prompt
{
	padding-top: 21px;
	padding-bottom: 6px;
}

#pu10464
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 17px;
}

#u10464
{
	z-index: 10;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u10462
{
	z-index: 8;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u10460
{
	z-index: 6;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u10466
{
	z-index: 12;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4096-4
{
	z-index: 2;
	width: 728px;
	min-height: 21px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

