/*
© Iman Fayek
*/

.version.index /* version checker */
{
	color: #0000F8;
	background-color: #F7F05F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6667735185599px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 5px;
	padding-bottom: 21px;
	width: 0.01px;/* should not cover content below */
}

#pu2393-4
{
	width: 0.01px;
	padding-bottom: 5px;
	margin-left: 20px;
}

#u2393-4
{
	z-index: 57;
	width: 364px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2423-4
{
	z-index: 61;
	width: 364px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 364px;
}

#u10209
{
	z-index: 65;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 274px;
}

#u2392
{
	z-index: 31;
	width: 728px;
	padding-bottom: 17px;
	margin-left: 20px;
	position: relative;
}

#menuu2394
{
	z-index: 32;
	width: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u2412
{
	width: 173px;
	position: relative;
}

#u2412:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2409,#u2415-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412:hover #u2415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2416
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u2417
{
	width: 173px;
	position: relative;
}

#u2412.MuseMenuActive,#u2417:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2417.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2418-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412.MuseMenuActive #u2415-4,#u2417:hover #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2417.MuseMenuActive #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2405
{
	width: 174px;
	position: relative;
}

#u2405:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2407-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2395
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2398
{
	width: 174px;
	position: relative;
}

#u2405.MuseMenuActive,#u2398:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2398.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2401-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405.MuseMenuActive #u2407-4,#u2398:hover #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2398.MuseMenuActive #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#pu10188
{
	width: 0.01px;
	margin-left: 304px;
}

#u10188
{
	z-index: 14;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u10195
{
	z-index: 16;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 377px;
}

#u10202
{
	z-index: 18;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 315px;
}

#u9485
{
	z-index: 30;
	width: 151px;
	height: 151px;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	background: transparent url("../../images/imansolo.gif") no-repeat center center;
	background-size: cover;
}

#pbuttonu2677
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -1px;
}

#buttonu2677
{
	z-index: 25;
	width: 342px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/bfett.jpg") no-repeat center center;
	background-size: cover;
}

#u2678-4
{
	z-index: 26;
	width: 201px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: #FFFFFF;
	line-height: 36px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 71px;
}

#buttonu2677:hover #u2678-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 201px;
	margin: 378px -10000px 0px 0px;
}

#buttonu2677.ButtonSelected #u2678-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 201px;
	margin: 378px -10000px 0px 0px;
}

#buttonu2677:hover #u2678-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2675
{
	z-index: 20;
	width: 340px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 388px;
	background: transparent url("../../images/snapchat-5811042481588904862.jpg") no-repeat center center;
	background-size: cover;
}

#u2676-4
{
	z-index: 21;
	width: 147px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: #FFFFFF;
	line-height: 36px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 92px;
}

#buttonu2675:hover #u2676-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu2675.ButtonSelected #u2676-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu2675:hover #u2676-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2677.ButtonSelected #u2678-4 p,#buttonu2675.ButtonSelected #u2676-4 p
{
	color: #3E3E3E;
	visibility: inherit;
}

#u2678-2,#u2676-2
{
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
}

#pu10464
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 47px;
}

#u10464
{
	z-index: 10;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u10462
{
	z-index: 8;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u10460
{
	z-index: 6;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u10466
{
	z-index: 12;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4096-4
{
	z-index: 2;
	width: 728px;
	min-height: 21px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

