#u2393-4
{
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u2423-4
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u10209
{
	background-color: transparent;
	-webkit-transform: matrix(0.9744,0.225,-0.225,0.9744,7,-5);
	-ms-transform: matrix(0.9744,0.225,-0.225,0.9744,7,-5);
	transform: matrix(0.9744,0.225,-0.225,0.9744,7,-5);
}

#menuu2394
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u2392,#u2409,#u2412
{
	background-color: transparent;
}

#u2412:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2415-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u2412:hover #u2415-4 p
{
	color: #C69C6D;
	visibility: inherit;
}

#u2416,#u2417
{
	background-color: transparent;
}

#u2417:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2418-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u2412.MuseMenuActive #u2415-4 p,#u2417:hover #u2418-4 p
{
	color: #C69C6D;
	visibility: inherit;
}

#u2402,#u2405
{
	background-color: transparent;
}

#u2405:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2407-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u2417.MuseMenuActive #u2418-4 p,#u2405:hover #u2407-4 p
{
	color: #C69C6D;
	visibility: inherit;
}

#u2395,#u2398
{
	background-color: transparent;
}

#u2398:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2412.MuseMenuActive,#u2417.MuseMenuActive,#u2405.MuseMenuActive,#u2398.MuseMenuActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2401-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}

#u2405.MuseMenuActive #u2407-4 p,#u2398:hover #u2401-4 p
{
	color: #C69C6D;
	visibility: inherit;
}

#u2398.MuseMenuActive #u2401-4 p
{
	color: #C69C6D;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u10188,#u10195,#u10202,#u10464,#u10462,#u10460,#u10466
{
	background-color: transparent;
}

#u4096-4
{
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
}


