/*
© Iman Fayek
*/

.version.my_story /* version checker */
{
	color: #0000ED;
	background-color: #BD847C;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 997.5988395970262px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding: 5px 20px 21.4011604029738px;
}

#pu2393-4
{
	width: 0.01px;
	padding-bottom: 5px;
}

#u2393-4
{
	z-index: 139;
	width: 364px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2423-4
{
	z-index: 143;
	width: 364px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 364px;
}

#u10209
{
	z-index: 147;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 274px;
}

#u2392
{
	z-index: 113;
	width: 728px;
	padding-bottom: 17px;
	position: relative;
}

#menuu2394
{
	z-index: 114;
	width: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u2412
{
	width: 173px;
	position: relative;
}

#u2412:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2409,#u2415-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412:hover #u2415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2416
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u2417
{
	width: 173px;
	position: relative;
}

#u2412.MuseMenuActive,#u2417:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2417.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2418-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412.MuseMenuActive #u2415-4,#u2417:hover #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2417.MuseMenuActive #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2405
{
	width: 174px;
	position: relative;
}

#u2405:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2407-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2395
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2398
{
	width: 174px;
	position: relative;
}

#u2405.MuseMenuActive,#u2398:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2398.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2401-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405.MuseMenuActive #u2407-4,#u2398:hover #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2398.MuseMenuActive #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#pu2683
{
	width: 0.01px;
	margin-top: 6px;
}

#u2683
{
	z-index: 14;
	width: 728px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #F4F4F4 url("../../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u2683_position_content
{
	margin-top: -6px;
	padding-bottom: 78px;
	width: 100%;
}

#pu10188
{
	width: 0.01px;
	margin-left: 217px;
}

#u10188
{
	z-index: 26;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u10195
{
	z-index: 28;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 443px;
}

#u10202
{
	z-index: 30;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 381px;
}

#u2684-6
{
	z-index: 32;
	width: 293px;
	min-height: 150px;
	background-color: transparent;
	line-height: 61px;
	font-size: 72px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
}

#u10868
{
	z-index: 58;
	width: 509px;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 476px;
	position: relative;
}

#u10867-4
{
	z-index: 54;
	width: 525px;
	min-height: 243px;
	background-color: transparent;
	line-height: 44px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 194px;
	margin-top: 7px;
	position: relative;
}

#u10866-4
{
	z-index: 50;
	width: 293px;
	min-height: 38px;
	background-color: transparent;
	line-height: 50px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 42px;
	position: relative;
}

#pu12144-10
{
	width: 0.01px;
	margin-left: 189px;
	margin-top: -4px;
}

#u12144-10
{
	z-index: 103;
	width: 265px;
	min-height: 78px;
	background-color: transparent;
	line-height: 45px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10870-11
{
	z-index: 60;
	width: 243px;
	min-height: 78px;
	background-color: transparent;
	line-height: 45px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

#u10871-4
{
	z-index: 71;
	width: 462px;
	min-height: 38px;
	background-color: transparent;
	line-height: 50px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 39px;
	position: relative;
}

#pu10872-11
{
	width: 0.01px;
	margin-left: 189px;
	margin-top: -2px;
}

#u10872-11
{
	z-index: 75;
	width: 265px;
	min-height: 78px;
	background-color: transparent;
	line-height: 45px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u12141-11
{
	z-index: 15;
	width: 243px;
	min-height: 78px;
	background-color: transparent;
	line-height: 45px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

#u10873-4
{
	z-index: 86;
	width: 432px;
	min-height: 38px;
	background-color: transparent;
	line-height: 50px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 33px;
	position: relative;
}

#u10874-11
{
	z-index: 90;
	width: 432px;
	min-height: 78px;
	background-color: transparent;
	line-height: 45px;
	font-size: 28px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	position: relative;
}

#u2692-4
{
	z-index: 46;
	width: 385px;
	min-height: 38px;
	background-color: transparent;
	line-height: 67px;
	font-size: 48px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 28px;
	position: relative;
}

#u2687-8
{
	z-index: 38;
	width: 469px;
	min-height: 86px;
	background-color: transparent;
	line-height: 42px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u10907
{
	z-index: 101;
	width: 372px;
	height: 300px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,23,-25);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,23,-25);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,23,-25);
	position: relative;
	margin-right: -10000px;
	margin-top: 389px;
	left: 330px;
	background: #F4F4F4 url("../../images/unnamed.jpg") no-repeat center center;
	background-size: cover;
}

#u2703
{
	z-index: 102;
	width: 333px;
	height: 345px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	-webkit-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-26,29);
	-ms-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-26,29);
	transform: matrix(0.9877,-0.1564,0.1564,0.9877,-26,29);
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 24px;
	background: #F4F4F4 url("../../images/img_20151224_141721.jpg") no-repeat center center;
	background-size: cover;
}

#pu10464
{
	width: 0.01px;
	margin-left: 271px;
	margin-top: 18px;
}

#u10464
{
	z-index: 10;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u10462
{
	z-index: 8;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u10460
{
	z-index: 6;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u10466
{
	z-index: 12;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4096-4
{
	z-index: 2;
	width: 728px;
	min-height: 21px;
	margin-top: 15px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

