/*
© Iman Fayek
*/

.version.portfolio /* version checker */
{
	color: #000001;
	background-color: #3843B0;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	padding-top: 5px;
	padding-bottom: 21px;
	width: 0.01px;/* should not cover content below */
}

#pu2393-4
{
	width: 0.01px;
	padding-bottom: 5px;
	margin-left: 20px;
}

#u2393-4
{
	z-index: 318;
	width: 364px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2423-4
{
	z-index: 322;
	width: 364px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 364px;
}

#u10209
{
	z-index: 326;
	width: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 274px;
}

#u2392
{
	z-index: 292;
	width: 728px;
	padding-bottom: 17px;
	margin-left: 20px;
	position: relative;
}

#menuu2394
{
	z-index: 293;
	width: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u2412
{
	width: 173px;
	position: relative;
}

#u2412:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2409,#u2415-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412:hover #u2415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2416
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u2417
{
	width: 173px;
	position: relative;
}

#u2412.MuseMenuActive,#u2417:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2417.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2418-4
{
	width: 173px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2412.MuseMenuActive #u2415-4,#u2417:hover #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2417.MuseMenuActive #u2418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 173px;
	margin: 0px -10000px 0px 0px;
}

#u2402
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2405
{
	width: 174px;
	position: relative;
}

#u2405:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2407-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2395
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2398
{
	width: 174px;
	position: relative;
}

#u2405.MuseMenuActive,#u2398:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2398.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u2401-4
{
	width: 174px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2405.MuseMenuActive #u2407-4,#u2398:hover #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#u2398.MuseMenuActive #u2401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 174px;
	margin: 0px -10000px 0px 0px;
}

#pu10974
{
	width: 0.01px;
	margin-left: -1001px;
	margin-top: 1px;
}

#u10974
{
	z-index: 14;
	width: 728px;
	position: relative;
	margin-right: -10000px;
	left: 1021px;
	background: #F4F4F4 url("../../images/paper.jpg") no-repeat left top;
	background-size: cover;
}

#u10974_position_content
{
	margin-top: -1px;
	padding-bottom: 438px;
	width: 100%;
}

#pu10188
{
	width: 0.01px;
	margin-left: 196px;
}

#u10188
{
	z-index: 35;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#u10195
{
	z-index: 37;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 464px;
}

#u10202
{
	z-index: 39;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 402px;
}

#u2644-4
{
	z-index: 41;
	width: 335px;
	min-height: 102px;
	background-color: transparent;
	line-height: 61px;
	font-size: 72px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
}

#u11515-4
{
	z-index: 19;
	width: 525px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 29px;
	position: relative;
}

#u11150-4
{
	z-index: 15;
	width: 539px;
	min-height: 101px;
	background-color: transparent;
	line-height: 44px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u11803-4
{
	z-index: 27;
	width: 525px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 570px;
	position: relative;
}

#u11802-4
{
	z-index: 23;
	width: 525px;
	min-height: 101px;
	background-color: transparent;
	line-height: 43px;
	font-size: 30px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 25px;
	position: relative;
}

#u12086-4
{
	z-index: 31;
	width: 525px;
	min-height: 51px;
	background-color: transparent;
	line-height: 46px;
	font-size: 36px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-left: 189px;
	margin-top: 546px;
	position: relative;
}

#slideshowu11209
{
	z-index: 45;
	width: 0.01px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
	left: 1196px;
}

#u11226
{
	position: absolute;
	width: 648px;
	height: 502px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 256px;
	left: -1126px;
	-pie-background: rgba(244,244,244,0.95);
}

#u11226popup
{
	z-index: 46;
}

#u11345
{
	z-index: 47;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11325
{
	z-index: 49;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11425
{
	z-index: 51;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11345_img,#u11325_img,#u11425_img
{
	padding: 140px 222px;
}

#u11405
{
	z-index: 53;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11405_img
{
	padding: 92px 174px;
}

#u11365
{
	z-index: 55;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11365_img
{
	margin: 150px -49px;
}

#u11445
{
	z-index: 57;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11445_img
{
	margin: -19px 158px -20px;
}

#u11385
{
	z-index: 59;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11385_img
{
	padding: 60px 62px;
}

#u11210
{
	position: absolute;
	width: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 20px;
}

#u11210popup
{
	z-index: 61;
}

#u11351
{
	z-index: 62;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u11331
{
	z-index: 64;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u11431
{
	z-index: 66;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u11411
{
	z-index: 68;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 41px;
}

#u11371
{
	z-index: 70;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 201px;
}

#u11451
{
	z-index: 72;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 361px;
}

#u11391
{
	z-index: 74;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 41px;
}

#u11217
{
	position: absolute;
	width: 700px;
	background-color: transparent;
	top: 686px;
	left: -1105px;
}

#u11217popup
{
	z-index: 76;
}

#u11357-4
{
	z-index: 77;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11337-4
{
	z-index: 81;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11437-3
{
	z-index: 85;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11417-4
{
	z-index: 88;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11377-4
{
	z-index: 92;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11457-4
{
	z-index: 96;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11397-3
{
	z-index: 100;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 42px;
	font-size: 30px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11233-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 256px;
	left: -1196px;
	background: transparent url("../../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u11233-3popup
{
	z-index: 103;
}

#u11223-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 256px;
	left: -478px;
	background: transparent url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u11223-3popup
{
	z-index: 106;
}

#u11222
{
	position: absolute;
	width: 70px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 256px;
	left: -548px;
	background: transparent url("../../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#slideshowu11518
{
	z-index: 110;
	width: 0.01px;
	height: 470px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1427px;
	left: 1196px;
}

#u11519
{
	position: absolute;
	width: 648px;
	height: 502px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 255px;
	left: -990px;
	-pie-background: rgba(244,244,244,0.95);
}

#u11519popup
{
	z-index: 111;
}

#u14366
{
	z-index: 112;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14366_img
{
	padding-left: 136px;
	padding-right: 136px;
}

#u14386
{
	z-index: 114;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14386_img
{
	padding-left: 111px;
	padding-right: 111px;
}

#u14406
{
	z-index: 116;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14406_img
{
	padding-left: 53px;
	padding-right: 53px;
}

#u14446
{
	z-index: 118;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14446_img
{
	padding-left: 177px;
	padding-right: 178px;
}

#u14466
{
	z-index: 120;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14466_img
{
	padding-left: 165px;
	padding-right: 165px;
}

#u14486
{
	z-index: 122;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14486_img
{
	padding-left: 168px;
	padding-right: 169px;
}

#u14506
{
	z-index: 124;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14506_img
{
	padding-left: 60px;
	padding-right: 59px;
}

#u11534popup
{
	z-index: 126;
}

#u14372
{
	z-index: 127;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u14392
{
	z-index: 129;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u14392_img
{
	margin-top: -11px;
	margin-bottom: -12px;
}

#u14412
{
	z-index: 131;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u14412_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u14452
{
	z-index: 133;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 41px;
}

#u14472
{
	z-index: 135;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 201px;
}

#u14492
{
	z-index: 137;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 361px;
}

#u14512
{
	z-index: 139;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 41px;
}

#u14512_img
{
	margin-left: -8px;
	margin-right: -7px;
}

#u11555
{
	position: absolute;
	width: 700px;
	background-color: transparent;
	top: 715px;
	left: -968px;
}

#u11555popup
{
	z-index: 141;
}

#u14378-4
{
	z-index: 142;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14398-4
{
	z-index: 146;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14418-4
{
	z-index: 150;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14458-4
{
	z-index: 154;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14478-4
{
	z-index: 158;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14498-4
{
	z-index: 162;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14518-4
{
	z-index: 166;
	width: 700px;
	min-height: 210px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11549-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 255px;
	left: -1060px;
	background: transparent url("../../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u11549-3popup
{
	z-index: 170;
}

#u11551-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: 255px;
	left: -342px;
	background: transparent url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u11551-3popup
{
	z-index: 173;
}

#u11553
{
	position: absolute;
	width: 70px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: 255px;
	left: -412px;
	background: transparent url("../../images/arrows-mn_close.png") no-repeat center center;
}

#slideshowu11808
{
	z-index: 177;
	width: 0.01px;
	height: 790px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2029px;
	left: 1196px;
}

#u11816
{
	position: absolute;
	width: 648px;
	height: 502px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: -20px;
	left: -1241px;
	-pie-background: rgba(244,244,244,0.95);
}

#u11816popup
{
	z-index: 178;
}

#u11944
{
	z-index: 179;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11944_img
{
	padding-left: 75px;
	padding-right: 74px;
}

#u11964
{
	z-index: 181;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11964_img
{
	padding-left: 68px;
	padding-right: 67px;
}

#u11984
{
	z-index: 183;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11984_img
{
	padding-top: 21px;
	padding-bottom: 22px;
}

#u14536
{
	z-index: 185;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14556
{
	z-index: 187;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14536_img,#u14556_img
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#u14616
{
	z-index: 189;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14616_img
{
	padding: 23px 157px 22px;
}

#u14636
{
	z-index: 191;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14656
{
	z-index: 193;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14676
{
	z-index: 195;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14696
{
	z-index: 197;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14696_img
{
	padding-top: 160px;
	padding-bottom: 159px;
}

#u14716
{
	z-index: 199;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14736
{
	z-index: 201;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14756
{
	z-index: 203;
	width: 604px;
	height: 440px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14636_img,#u14656_img,#u14676_img,#u14716_img,#u14736_img,#u14756_img
{
	padding-left: 82px;
	padding-right: 82px;
}

#u11534,#u11832
{
	position: absolute;
	width: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11832popup
{
	z-index: 205;
}

#u11950
{
	z-index: 206;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u11950_img
{
	margin-left: -3px;
	margin-right: -2px;
}

#u11970
{
	z-index: 208;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u11970_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u11990
{
	z-index: 210;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u11351:hover,#u11331:hover,#u11431:hover,#u14372:hover,#u14392:hover,#u14412:hover,#u11950:hover,#u11970:hover,#u11990:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11990_img
{
	padding-top: 26px;
	padding-bottom: 25px;
}

#u14542
{
	z-index: 212;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 41px;
}

#u14562
{
	z-index: 214;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 201px;
}

#u14622
{
	z-index: 216;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 361px;
}

#u11411:hover,#u11371:hover,#u11451:hover,#u14452:hover,#u14472:hover,#u14492:hover,#u14542:hover,#u14562:hover,#u14622:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 160px -10000px 0px 0px;
}

#u14642
{
	z-index: 218;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 41px;
}

#u14662
{
	z-index: 220;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 201px;
}

#u14682
{
	z-index: 222;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 361px;
}

#u11391:hover,#u14512:hover,#u14642:hover,#u14662:hover,#u14682:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 320px -10000px 0px 0px;
}

#u14702
{
	z-index: 224;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 41px;
}

#u14722
{
	z-index: 226;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 201px;
}

#u14742
{
	z-index: 228;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 361px;
}

#u14702:hover,#u14722:hover,#u14742:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 480px -10000px 0px 0px;
}

#u14762
{
	z-index: 230;
	width: 150px;
	height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 640px;
	left: 41px;
}

#u14762:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 150px;
	height: 150px;
	min-height: 0px;
	margin: 640px -10000px 0px 0px;
}

#u11810
{
	position: absolute;
	width: 700px;
	background-color: transparent;
	top: 467px;
	left: -1219px;
}

#u11810popup
{
	z-index: 232;
}

#u11956-4
{
	z-index: 233;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11976-4
{
	z-index: 237;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11996-4
{
	z-index: 241;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14548-4
{
	z-index: 245;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14568-4
{
	z-index: 249;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14628-4
{
	z-index: 253;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14648-4
{
	z-index: 257;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14668-4
{
	z-index: 261;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14688-4
{
	z-index: 265;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14708-4
{
	z-index: 269;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14728-4
{
	z-index: 273;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14748-4
{
	z-index: 277;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14768-4
{
	z-index: 281;
	width: 700px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 24px;
	letter-spacing: 1px;
	color: #3E3E3E;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u11515-2,#u11150-2,#u11803-2,#u11802-2,#u12086-2,#u11357-2,#u11337-2,#u11417-2,#u11377-2,#u11457-2,#u11397,#u14378-2,#u14398-2,#u14418-2,#u14458-2,#u14478-2,#u14498-2,#u14518-2,#u11956-2,#u11976-2,#u11996-2,#u14548-2,#u14568-2,#u14628-2,#u14648-2,#u14668-2,#u14688-2,#u14708-2,#u14728-2,#u14748-2,#u14768-2
{
	padding-right: 1px;
}

#u11827-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: -20px;
	left: -1311px;
	background: transparent url("../../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u11827-3popup
{
	z-index: 285;
}

#u11828-3
{
	position: absolute;
	width: 70px;
	min-height: 502px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: '__ImanHandwriting_5';
	font-weight: 400;
	top: -20px;
	left: -593px;
	background: transparent url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u11233-3:hover,#u11223-3:hover,#u11549-3:hover,#u11551-3:hover,#u11827-3:hover,#u11828-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 502px;
	width: 70px;
	margin: 0px;
}

#u11828-3popup
{
	z-index: 288;
}

#u11831
{
	position: absolute;
	width: 70px;
	height: 40px;
	border-width: 0px;
	border-color: transparent;
	top: -20px;
	left: -663px;
	background: transparent url("../../images/arrows-mn_close.png") no-repeat center center;
}

#u11222:hover,#u11553:hover,#u11831:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 70px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

#pu10464
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 17px;
}

#u10464
{
	z-index: 10;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u10462
{
	z-index: 8;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u10460
{
	z-index: 6;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u10466
{
	z-index: 12;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4096-4
{
	z-index: 2;
	width: 728px;
	min-height: 21px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__ImanHandwriting_5';
	src: url('../../fonts/imanhandwriting-regular.eot');
	src: local('☺'), url('../../fonts/imanhandwriting-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

